---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import ClientSection from "@components/sections/landing/ClientsSection.astro";
import plafon from "@images/plafon.avif";
import panel from "@images/panel.avif";
import flooring from "@images/flooring.avif";
import list from "@images/list.avif";
import wallboard from "@images/wallboard.avif";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout title="SUMBER PLAFON">
  <HeroSection
    title="SUMBER PLAFON PVC"
    subTitle="Ruko Taman Narogong, Jl. Narogong Jaya Raya Blok TE 7, Pengasinan, Rawa Lumbu, Bekasi, 085-780-900900."
    alt="Sumber Plafon PVC"
  />

  <ClientSection title="OUR PRODUCT" />

  <FeaturesNavs
    title="Temukan Produk PVC Unggulan dan Terpercaya"
    tabs={[
      {
        heading: "SHUNDA PLAFON",
        content:
          "PVC untuk interior plafon rumah anda, dengan berbagai keunggulan antara lain: anti rayap, tahan air, tidak merambat api, pemasangan mudah, motif beragam, ramah lingkungan",
        svg: "tools",
        src: plafon,
        alt: "SHUNDA PLAFON",
        first: true,
      },
      {
        heading: "SHUNDA PANEL",
        content:
          "PVC untuk mempercantik bagian bagian tertentu dirumah anda, berbagai keunggulan antara lain: tahan lama, ramah lingkungan, anti air, pemasangan mudah, tahan api, design menakjubkan dan beragam",
        svg: "tools",
        src: panel,
        alt: "SHUNDA PANEL",
      },
      {
        heading: "SHUNDA WALL BOARD",
        content:
          "PVC untuk mempercantik dinding dirumah anda, menjadi lebih minimalis & modern. berbagai keunggulan SHUNDA WALL BOARD: instalasi mudah, anti air, perawatan mudah, ramah lingkungan, kuat dan tahan lama, design menakjubkan dan beragam",
        svg: "tools",
        src: wallboard,
        alt: "SHUNDA WALL BOARD",
      },
      {
        heading: "SHUNDA FLOORING",
        content:
          "Shunda Flooring menyediakan ribuan cara dalam mendesain rumah Anda dengan indah. Kami menawarkan polyboard bebas kayu yang menjadikan kami lebih ramah lingkungan. Ada yang menyebutnya lantai, ada pula yang menyebutnya fondasi untuk hidup berkualitas. Imajinasi adalah batas Anda!",
        svg: "tools",
        src: flooring,
        alt: "SHUNDA FLOORING",
      },
      {
        heading: "SHUNDA LIST PVC",
        content:
          "Shunda list, menyempurnakan setiap lekukan atau rongga di setiap sudut pemasangan SHUNDA Plafon dan produk  PVC lainnya. Dengan berbagai variasi dan model kekinian, SHUNDA LIST akan menyempurnakan penampilan setiap lekuk rumah anda",
        svg: "tools",
        src: list,
        alt: "SHUNDA LIST PVC",
      },
    ]}
  />
  <a
    class="fixed bottom-5 right-5 z-50 cursor-pointer rounded-full bg-green-500 text-white"
    href="https://wa.me/6285780900900"
    target="_blank"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="currentColor"
      class="bi bi-whatsapp h-14 w-14 md:h-16 md:w-16"
      viewBox="0 0 16 16"
    >
      <path
        d="M13.601 2.326A7.85 7.85 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.9 7.9 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.9 7.9 0 0 0 13.6 2.326zM7.994 14.521a6.6 6.6 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.56 6.56 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592m3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.73.73 0 0 0-.529.247c-.182.198-.691.677-.691 1.654s.71 1.916.81 2.049c.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232"
      ></path>
    </svg>
  </a>
</MainLayout>
